 
 /* Common styles & utilities */
body{ font-family: 'Poppins', sans-serif;
        background-color: #F3F1FF;
        }
    main{
        display: flex;
        justify-content: center;
    }
        .container{
            background-color: white;
            width: 870px;
            padding: 30px;
        }

 /* top players style  */
 .section-title{
    color: #562EFF; 
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
 }
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
}
 .player{
     display: flex;
    align-items: center;
    }
.player img{
    width: 55px;
    height: 55px;
}
.player-name{
    margin-left: 16px;
}